#profile {
    display: flex;   
}

#profile-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

@media only screen and (max-width: 727px) {
    #profile  {
        flex-direction: column;
    }

    #profile-info {
        width: 100%;
    }
}
