#profile {
    display: flex;   
}

#profile-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

@media only screen and (max-width: 727px) {
    #profile  {
        flex-direction: column;
    }

    #profile-info {
        width: 100%;
    }

}

/* Section posts */
#posts {
    display: flex;
    flex-direction: column;
    max-width: 600px
}

.post {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: .2s;
    height: 100px;
}
.post:hover {
    box-shadow: 0 0 5px #ccc;
    scale: 1.01;
    cursor: pointer;
}

.post-title{ 
  font-size: 1.7em;
  font-family: Unna;
  margin: 10px 0 20px 0;
}

.post-actions {
    margin-top: auto;
    display: flex;
    gap: 40px;
    align-items: center;
}

.post .likes {
    display: inline-flex;
}

.post footer {
    margin-top: auto;
}

.post-link {
    text-decoration: none;
    color: #000;
}