<div id="profile">
  <section id="profile-info">
    <div>
      <button *ngIf="profile.me; else noMe">EDITAR</button>
      <ng-template #noMe>
        <button>FOLLOW</button>
      </ng-template>

      <h1>{{ profile.name }}</h1>
      <p class="username-container">
        @{{ profile.username }}
        <span *ngIf="profile.verified" class="verified">
          <img
            src="assets/svg/verified.svg"
            alt="verified"
            class="verified-icon"
          />
        </span>
      </p>
      <p>{{ profile.bio }}</p>
      <p>
        <i>{{ profile.n_posts }} posts</i>
      </p>
      <span
        ><i>Since {{ profile.created_at }}</i></span
      >
    </div>
  </section>

  <section id="posts">
    <app-post-list [posts]="postsList"></app-post-list>
  </section>
</div>
