<div id="profile">
    <section id="profile-info">
        <h1>{{ profile.name }}</h1>
        <p>
            @{{ profile.username }}
            <span *ngIf="profile.verified" class="verified">
                <img src="assets/svg/verified.svg" alt="verified">
            </span>
        </p>
        <p>{{ profile.bio }}</p>
        <p><i>{{ profile.n_posts }} posts</i></p>
        <span><i>Since {{ profile.created_at }}</i></span>
    </section>

    <section id="posts">
        <article *ngFor="let post of postsList" class="post">
            <span>{{post.time_ago}}</span>
            <h2>{{post.title}}</h2>        
            <p>{{post.content}}</p>
            <span>{{post.created_at}}</span>
        </article>
    </section>
</div>