<div *ngIf="isLoggedIn; else notLoggedInContent">

    Authenticated

<div id="new-posts">
    <h2>New Post for you</h2>
    <section id="posts">
        <article *ngFor="let post of postsList" class="post">
            <span>{{post.time_ago}}</span>
            <h2>{{post.title}}</h2>        
            <p>{{post.content}}</p>
            <p>
                @{{post.username}} |
                {{post.created_at}}
            </p>
        </article>
    </section>
</div>
    

</div>

<ng-template #notLoggedInContent>
    
    <h1>Welcome to TechPaper</h1>
    <p>Sign up or login to view posts</p>

</ng-template>
