#posts-container > h2 {
    text-align: center;
    font-family: 'Relaway', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}

#posts-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding: 40px;
}

#posts {
    display: flex;
    flex-wrap: wrap;
}

.post {
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    height: 360px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: .2s;
    background: rgb(218,218,218);
    background: linear-gradient(0deg, rgba(249, 247, 255, 0.719), rgba(255,255,255,1) 100%);
    cursor: pointer;
}
.post:hover {
    scale: .97;
    box-shadow: .4em .4em rgb(80, 80, 80)
}

.post-title{ 
  font-size: 1.7em;
  font-family: Unna;
  margin: 10px 0 20px 0;
}

.post .username {
    display: flex;
    align-items: center;
}

.post-actions {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .likes {
    display: inline-flex;
}

.post footer {
    margin-top: auto;
}

.post footer > p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-link {
    text-decoration: none;
    color: #000;
}