<div *ngIf="isLoggedIn; else notLoggedInContent">
  Authenticated

  <div id="new-posts">
    <h2>New Post for you</h2>
    <section id="posts">
      <article *ngFor="let post of postsList" class="post">
        <header>
            <span>{{ post.time_ago }}</span>
            <h2 class="post-title"><a href="/post/{{ post.id }}">{{ post.title }}</a></h2>
        </header>
        <p>{{ post.content | slice:0:150 }}...</p>

        <footer>
          <a href="/profile/{{ post.username }}" class="username">
            @{{ post.username }}
          </a>
          |
          <span>{{ post.created_at }}</span>
        </footer>
      </article>
    </section>
  </div>
</div>

<ng-template #notLoggedInContent>
  <h1>Welcome to TechPaper</h1>
  <p>Sign up or login to view posts</p>
</ng-template>
