#new-posts > h2 {
    text-align: center;
    font-family: Helvetica;
    font-size: 3rem;
    margin-bottom: 20px;
}

#posts {
    display: flex;
    flex-wrap: wrap;
}

#posts .post {
    flex: 1 1 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: .2s;
}

.post:hover {
    box-shadow: 0 0 5px #ccc;
    scale: 1.01;
    cursor: pointer;
}