<div class="post">
  <header>
    <p *ngIf="post!.is_author === 1" class="author-badge">Author</p>
    <span>{{ post!.time_ago }}</span>
    <h2>{{ post!.title }}</h2>
  </header>

  <p>{{ post!.summary }}</p>

  <div>
    <a
      *ngIf="post!.username"
      href="/profile/{{ post!.username }}"
      class="username"
    >
      @{{ post!.username }}
    </a>

    <span *ngIf="post!.verified" class="verified">
      <img src="assets/svg/verified.svg" alt="verified" class="verified-icon" />
    </span>
    |
    <span>{{ post!.created_at }}</span>
  </div>
  <footer>
    <span><img src="assets/svg/heart.svg"/> {{ post!.likes }}</span>
    <span *ngIf="post!.is_author"><img src="assets/svg/trash.svg" (click)="onDeletePost(post?.id)"/></span>
  </footer>
</div>
