
nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav .logo {
    font-weight: bold;
    font-size: 1.5rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

li a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
}
li:not(.logo):hover {
    color: #ccc;
    background: #cccccc31;
    border-radius: 4px;
}


div.right {
    margin-left: auto;
    display: flex;
}

li a.logout {
    color: #FF4472;
}
