/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.username {
  text-decoration: none;
  color: #000;
}

.username-container {
  display: flex;
  align-items: center;
}

.verified-icon {
  display: block;
  width: 16px;
  height: 16px;
}
  
/* Posts */

#post-title, 
.post-title{ 
  font-size: 2em;
  font-family: Unna;
}

#post-title a,
.post-title a {
  text-decoration: none;
  color: #000;
}
